{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}
{% from '_includes/forms' import field %}

{% set isNew = (filterObject is not defined or not filterObject.id) %}

{% set title = isNew ? 'Create new filter'|t('quick-filters') : 'Edit'|t('quick-filters') ~ ' ' ~ filterObject.name %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: elementAndGroupName, url: bredcrumbUrl },
    { label: 'Filters'|t('quick-filters'), url: url('quick-filters/' ~ elementType ~ '/' ~ sourceKey) },
] %}

{% block content %}

    {# filter type #}
    <div data-element-filters-type class="field">
    {{ forms.selectField({
        label: 'Type of filter'|t('quick-filters'),
        id: 'filterType',
        name: 'filterType',
        options: filterTypes,
        value: filterObject.filterType,
        errors: filterObject.getErrors('filterType'),
        required: true,
    }) }}
    </div>

    {# field #}
    <div data-element-filters-select-field {{filterObject.filterType == 'attribute' ? 'hidden'}}>
    {{ forms.selectField({
        label: 'Craft Field'|t('quick-filters'),
        id: 'fieldUidInLayout',
        name: 'fieldUidInLayout',
        options: craftFields,
        value: filterObject.fieldUidInLayout,
        errors: filterObject.getErrors('fieldUidInLayout'),
        instructions: 'You can create filters from date fields, relation type fields, fields with multiple options, number fields, text fields and lightswitch fields.'|t('quick-filters'),
        required: true,
    }) }}
    </div>

    {# element attribute #}
    <div data-element-filters-select-attribute {{filterObject.filterType == 'field' or filterObject.filterType == null ? 'hidden'}}>
    {{ forms.selectField({
        label: 'Element attribute'|t('quick-filters'),
        id: 'elementAttribute',
        name: 'elementAttribute',
        options: elementAttributes,
        value: filterObject.elementAttribute,
        errors: filterObject.getErrors('elementAttribute'),
    }) }}
    </div>

    {# order by #}
    <div data-element-filters-sort-order hidden class="field">
    {{ forms.selectField({
        label: 'Order options by'|t('quick-filters'),
        id: 'orderOptionsBy',
        name: 'orderOptionsBy',
        options: filterObject.getSortOptions(),
        value: filterObject.orderOptionsBy,
        errors: filterObject.getErrors('orderOptionsBy'),
    }) }}
    </div>

    {# Datepicker mode #}
    <div data-element-filters-datepicker-type hidden class="field">
    {{ forms.selectField({
        label: 'Datepicker mode'|t('quick-filters'),
        id: 'datePickerType',
        name: 'datePickerType',
        options: filterObject.getDatepickerOptions(),
        value: filterObject.datePickerType,
        errors: filterObject.getErrors('datePickerType'),
    }) }}
    </div>

    {# Dropdown mode #}
    <div data-element-filters-dropdown-type hidden class="field">
        {{ forms.selectField({
            label: 'Dropdown mode'|t('quick-filters'),
            instructions: 'In case your relation field has a lot of selectable elements, it is recommended to use ajax mode to avoid lagging when displaying elements list. Available only for entry fields.'|t('quick-filters'),
            id: 'dropdownMode',
            name: 'dropdownMode',
            options: filterObject.getDropdownModeOptions(),
            value: filterObject.dropdownMode,
            errors: filterObject.getErrors('dropdownMode'),
        }) }}
    </div>

    {# params #}
    {{actionInput('quick-filters/element-filters/filter-save')}}
    {{redirectInput('quick-filters/' ~ elementType ~ '/' ~ sourceKey)}}
    {% if not isNew %}
        {{hiddenInput('filterId', filterObject.id)}}
    {% endif %}

    {{hiddenInput('elementType', elementType)}}
    {{hiddenInput('sourceKey', sourceKey)}}

{% css %}
    #fieldId-field{
        margin-top: 0px;
    }
    #fieldId-field .select, #filterType, #elementAttribute, #orderOptionsBy{
        width:  300px;
    }
    #fieldId-field .select:not(.selectize):after{
        display: none;
    }
    .ss-single-selected{
        background-color: #d7dee7 !important;
        color: #3f4d5a !important;
    }
{% endcss %}

<script>
{% js %}
// $('select#fieldId').prepend('<option data-placeholder="true"></option>');
new SlimSelect({
  select: $('#fieldId')[0],
  // placeholder: "{{'Select field'|t('quick-filters')}}",
  searchPlaceholder: "{{'Search'|t('quick-filters')}}",
});

$('#filterType').on('change', function(){
    if($(this).val() == 'field'){
        $('[data-element-filters-select-field]').show();
        $('[data-element-filters-select-attribute]').hide();
    }else if($(this).val() == 'attribute'){
        $('[data-element-filters-select-attribute]').show();
        $('[data-element-filters-select-field]').hide();
    }
});

function toggleInputs()
{
    let selectFieldIds = {{ filterObject.getFieldsIdsUsingSelect()|json_encode|raw }};
    let dateFields = {{ filterObject.getFieldIdsUsingDatepicker()|json_encode|raw }};
    let dropdownModeFields = {{ filterObject.getFieldIdsUsingDropdownMode()|json_encode|raw }};

    let selectAttributes = [];
    let dateAttributes = ['postDate', 'expiryDate', 'dateCreated', 'dateUpdated', 'lastLoginDate', 'dateOrdered', 'datePaid'];

    let filterType = $('[data-element-filters-type] select').val();
    let fieldId = $('[data-element-filters-select-field] select').val();
    let attribute = $('[data-element-filters-select-attribute] select').val();

    // sort order
    if(
        (filterType == 'field' && selectFieldIds.includes(fieldId)) ||
        (filterType == 'attribute' && selectAttributes.includes(attribute))
    ){
        $('[data-element-filters-sort-order]').show();
    }else{
        $('[data-element-filters-sort-order]').hide();
    }

    // datepicker type
    if(
        (filterType == 'field' && dateFields.includes(fieldId)) ||
        (filterType == 'attribute' && dateAttributes.includes(attribute))
    ){
        $('[data-element-filters-datepicker-type]').show();
    }else{
        $('[data-element-filters-datepicker-type]').hide();
    }

    // dropdown mode
    if(
        (filterType == 'field' && dropdownModeFields.includes(fieldId))
    ){
        $('[data-element-filters-dropdown-type]').show();
    }else{
        $('[data-element-filters-dropdown-type]').hide();
    }

}

$('[data-element-filters-type] select, [data-element-filters-select-field] select, [data-element-filters-select-attribute] select').on('change', function(){
    toggleInputs();
});

$(document).ready(function(){
    toggleInputs();
})

{% endjs %}
</script>
{% endblock %}
