{% set reQuestValue = craft.app.request.getBodyParam('criteria')[handle] ?? [] %}
{% set start = null %}
{% set end = null %}

{% for item in reQuestValue %}

    {% set parts = item|split(' ') %}
    {% if parts|length == 3 %}
        {% if parts[0] == '>=' %}
            {% set start = parts[1] %}
        {% endif %}
        {% if parts[0] == '<=' %}
            {% set end = parts[1] %}
        {% endif %}            
    {% endif %}
{% endfor %}
{# newly created users do not have weekstartday defined #}
{# {% set weekStartDay = currentUser.getPreferences().weekStartDay ?? 1 %} #}

{# <input 
    class="element-filters__datepicker"
    data-element-filters-datepicker
    data-element-filters-datepicker-firstday="{{weekStartDay}}"
    data-element-filters-datepicker-cancel="{{'Clear'|t('quick-filters')}}"
    data-element-filters-datepicker-apply="{{'Apply'|t('quick-filters')}}"
    data-element-filters-datepicker-format="{{dateFormat}}"
    data-element-filters-datepicker-weekdays="{{craft.app.locale.getWeekDayNames('short')|json_encode}}"
    data-element-filters-datepicker-months="{{craft.app.locale.getMonthNames('short')|json_encode}}"
    data-element-filters-handle="{{handle}}"
    placeholder="{{'Select date range'|t('quick-filters')}}"
    {% if start %}
    data-element-filters-datepicker-start="{{start}}"
    {% endif %}
    {% if end %}
    data-element-filters-datepicker-end="{{end}}"
    {% endif %}
> #}

<div
    class="element-filters__date"
    data-elements-filters-date
    data-element-filters-handle="{{handle}}"
    data-element-filters-date-format="{{dateFormat}}"
>
    <div class="element-filters__date-input-container">        
        <input 
            type="text"
            class="element-filters__date-input"
            data-elements-filters-date-input
            data-elements-filters-date-min
            placeholder="{{'From'|t('app')}}"
            value=""
            data-initial-value="{{start}}"
        >
        <div class="element-filters__date-icon" data-icon="date"></div>
    </div>
    <div class="element-filters__date-input-container">        
        <input 
            type="text"
            class="element-filters__date-input"
            data-elements-filters-date-input
            data-elements-filters-date-max
            placeholder="{{'To'|t('app')}}"
            value=""
            data-initial-value="{{end}}"
        >
        <div class="element-filters__date-icon" data-icon="date"></div>
    </div>
</div>